#globalHeader {
  position: relative;
  .searchField {}
  ;
  .searchResult {
    position: absolute;
    top: 30%;
  }
}

.scroll-content {
  overflow-y: auto;
}

.large-icon {
  font-size: 1.4em;
}
